<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.funbox.game.ang">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:label="@string/app_name" android:name=".GMenu" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleInstance" android:name="com.funbox.game.promote.AdSplash" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleInstance" android:name="Main" android:screenOrientation="portrait"/>
        <activity android:name="OptionActivity" android:screenOrientation="portrait"/>
        <activity android:name="ScoreList" android:screenOrientation="portrait"/>
        <meta-data android:name="ADMOB_PUBLISHER_ID" android:value="a14daed855ae267"/>
        <activity android:name="com.ccx.xm.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <receiver android:name="com.games.AdReciver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>